.message {
    display: flex;
    flex-direction: column;
}

.imageAndText {
    display: flex;
    gap: 10px;

}

.imageAndText img {
    position: relative;
}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {
    /*padding-left: 15%;*/
}

.imageAndText img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}